    body {
        background-image: url('https://i.pinimg.com/originals/8c/c9/e2/8cc9e20a1bfa04d3041b21e9f2bba001.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-weight: bold; /* Increase font weight */
    }

    #login {
        background-color: rgba(255, 255, 255, 0.8); /* Light background color with opacity */
        padding: 20px;
        border-radius: 10px;
    }

    .card {
        font-size: medium;
        background-color: rgba(255, 255, 255, 0.568); /* White background for cards with opacity */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .btn-primary {
        background-color: #6f42c1; /* Purple button color */
        border-color: #6f42c1; /* Purple button border color */
        border-radius: 10px;
        width: 80%;
        display: block;
        margin: auto;
        font-size: medium
    }

    .btn-primary:hover {
        color: #563d7c;
        background-color: #f8d7da; /* Darker purple on hover */
        border: 1px solid #563d7c;
    }

    .card-header {
        color: #6f42c1; /* Purple text for header */
        font-size: large;
        font-weight: 700;
    }

   
    .form-control{
        border-radius: 10px;
        width: 90%;
        margin: auto;
        
    }
    /* Hover effect for form fields */
    .form-control:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #563d7c; /* Purple border color on hover */
    }

   
    .alert-danger {
      background-color: #f8d7da; /* Light red for error messages */
      border-color: #f5c6cb;
      color: #721c24;
  }
