/* Add custom styles for shades of purple */
body {
    background-color: #f8f9fa; /* Light gray background color */
  }
  
  .container {
    margin-top: 50px;
  }
  
  /* Adjust the card styles for better contrast */
  .card {
    border: 1px solid #800080; /* Purple border color for the card */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for better contrast */
  }
  
  .card-header {
    background-color: #f8f9fa; /* Dark gray background color for the card header */
  }
  
  .card-title {
    color: #800080; /* White text color for the card title */
  }
  
  .card-body {
    background-color: #BE93E4; /* Lavender background color for the card body */
  }
  
  /* Center-align button and increase its width */
  .btn-primary {
    color: lavender;
    background-color: #800080; /* Purple background color for the primary button */
    border-color: #800080; /* Purple border color for the primary button */
    width: 100%; /* Make the button width 100% */
    display: block; /* Display the button as a block to center-align it */
    margin-top: 15px; /* Add some top margin for spacing */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition on hover */
  }
  
  
  
  
  
  /* Add more styles as needed */
  
  
  .btn-primary:hover {
    background-color: #BE93E4; /* Dark purple background color on hover for the primary button */
    border-color: #800080; /* Dark purple border color on hover for the primary button */
  }
  
  /* Add hover effect for form input fields */
  .form-control:hover {
    border-color: #800080; /* Purple border color on hover for form input fields */
  }
  
  /* Add background image to the body */
  body#login {
       background-image: url('https://i.pinimg.com/originals/8c/c9/e2/8cc9e20a1bfa04d3041b21e9f2bba001.jpg');
      background-size: cover;
      background-position: center;
      height: 100vh;
      image-rendering: smooth;
    color: #ffffff; /* Set text color to white for better readability on the background image */
  }
  
  /* Add more styles as needed */
  /* Purple border for the "Housify" heading */
  h1 {
    text-transform: uppercase;
    text-align: center;
    
  }